{#{% extends 'sackett/site_base_no_menu.html' %}#}
{#{% load i18n %}#}
{##}
{#{% block title %}{% trans 'Set site language' %}{% endblock %}#}
{#{% block body %}#}
{#    <div class="ui container primary-container">#}
{#        <h2 class="ui dividing header">{% trans 'Set site language' %}</h2>#}
{#        <form action="{% url 'set_language' %}" method="post">{% csrf_token %}#}
{#            <input name="next" type="hidden" value="{% url 'sackett:default' %}" />#}
{#            <select name="language">#}
{#                {% get_current_language as LANGUAGE_CODE %}#}
{#                {% get_available_languages as LANGUAGES %}#}
{#                {% get_language_info_list for LANGUAGES as languages %}#}
{#                {% for language in languages %}#}
{#                    <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected="selected"{% endif %}>#}
{#                        {{ language.name_local }} ({{ language.code }})#}
{#                    </option>#}
{#                {% endfor %}#}
{#            </select>#}
{#            <input type="submit" value="Go" />#}
{#        </form>#}
{#    </div>#}
{#{% endblock %}#}