{% extends "sackett/site_base.html" %}
{% load i18n %}
{% load static %}

{% block meta %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
{% endblock %}

{% block title %}
    {% if adding %}
        {% trans 'Add user' %}
    {% else %}
        {% trans 'Edit user' %}
    {% endif %}
{% endblock %}

{% block scripts %}
{% endblock %}

{% block body %}
    <div class="top-padded-frame">
        <div class="ui text container primary-container">
            {% if adding %}
            <h2 class="ui dividing header">{% trans 'Add user' %}</h2>
            {% else %}
            <h2 class="ui dividing header">{% trans 'Edit user' %}</h2>
            {% endif %}
            <form action="" method="post">
                {% csrf_token %}
                <div class="ui middle aligned grid">
                {% if saved %}
                    <div class="sixteen wide left aligned column">
                        <div class="ui positive message">
                            <div class="header">
                            {% if adding %}
                                {% blocktrans %}User with username '{{ saved_username }}' created successfully{% endblocktrans %}
                            {% else %}
                                {% blocktrans %}User updated successfully{% endblocktrans %}
                            {% endif %}
                            </div>
                        </div>
                    </div>
                {% endif %}
                    <div class="eight wide right aligned column">
                        {{ form.username.label_tag }}
                    </div>
                    <div class="eight wide left aligned column">
                        {{ form.username }}
                    </div>
                    <div class="eight wide right aligned column">
                        {{ form.password.label_tag }}
                    </div>
                    <div class="eight wide left aligned column">
                        {{ form.password }}
                    </div>
                    <div class="eight wide right aligned column">
                        {{ form.confirm_password.label_tag }}
                    </div>
                    <div class="eight wide left aligned column">
                        {{ form.confirm_password }}
                    </div>
                    <div class="eight wide right aligned column">
                        {{ form.login_enabled.label_tag }}
                    </div>
                    <div class="eight wide left aligned column">
                        {{ form.login_enabled }}
                    </div>
                {% for err in form.non_field_errors %}
                    <div class="six wide right aligned column">
                    </div>
                    <div class="ten wide left aligned column">
                        <span class="errorlist">{{ err }}</span>
                    </div>
                {% endfor %}
                    <div class="sixteen wide left aligned column">
                        <span>{% trans 'Permissions' %}</span>
                    </div>
                    <div class="eight wide right aligned column">
                        {{ form.perm_user_admin.label_tag }}
                    </div>
                    <div class="eight wide left aligned column">
                        {{ form.perm_user_admin }}
                    </div>
                    <div class="eight wide right aligned column">
                        {{ form.perm_sys_admin.label_tag }}
                    </div>
                    <div class="eight wide left aligned column">
                        {{ form.perm_sys_admin }}
                    </div>
                    <div class="eight wide right aligned column">
                        {{ form.perm_clear_consultant.label_tag }}
                    </div>
                    <div class="eight wide left aligned column">
                        {{ form.perm_clear_consultant }}
                    </div>
                    <div class="eight wide right aligned column">
                        {{ form.perm_undischarge.label_tag }}
                    </div>
                    <div class="eight wide left aligned column">
                        {{ form.perm_undischarge }}
                    </div>
                    <div class="eight wide right aligned column">
                        {{ form.perm_breaches.label_tag }}
                    </div>
                    <div class="eight wide left aligned column">
                        {{ form.perm_breaches }}
                    </div>
                    <div class="eight wide right aligned column">
                        {{ form.perm_view_dashboard.label_tag }}
                    </div>
                    <div class="eight wide left aligned column">
                        {{ form.perm_view_dashboard }}
                    </div>
                    <div class="eight wide right aligned column">
                        {{ form.perm_export_data.label_tag }}
                    </div>
                    <div class="eight wide left aligned column">
                        {{ form.perm_export_data }}
                    </div>
                    <div class="sixteen wide center aligned column">
                        {% if adding %}
                        <input class="ui primary button" type="submit" value="{% trans 'Add' %}" />
                        {% else %}
                        <input class="ui primary button" type="submit" value="{% trans 'Save' %}" />
                        {% endif %}
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
